<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="HtmlAgilityPack" version="1.11.23" targetFramework="net40" requireReinstallation="true" />
  <package id="OYMLCN.Extension" version="1.0.25" targetFramework="net461" />
  <package id="OYMLCN.HtmlAgilityPack" version="0.1.21" targetFramework="net461" />
</packages>